html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

h1, h2 {
  color: #5d8432;
  text-transform: uppercase;
}

nav {
  font-weight: bold;
  font-size: 1.125rem;
  list-style-type: none;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 2em;
}

img {
  width: 100%;
}

a:hover {
  background-color: #b42885;
}

font-family: 'Patua One', cursive;
